.button {
    background: green;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

.pictureRoot {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 20px;
}

.picture {
    max-height: 250px;
}

.icon {
    color: green;
}